%p{class: "container"}
  - if block.variable? # for crossfit style workouts (AMRAP)
    %table
      %tr
        %th Movement
        %th For
        %th Units
        %th Weight metric
        %th Weight value

        - block.excercises.map do |excercise|
          %tr= render "excercises/variable_form", excercise: excercise

        %tr= link_to 'Add Excercise', block_excercises_new_path(block), method: "post"

  - else # for traditional style workouts (3x6 squats)
    %table
      %tr
        %th Set Number
        %th For
        %th Units
        %th Weight metric
        - if block.excercises.any? { |e| e.weight_metric == "% of movement" }
          %th Movement
        %th Weight value

        - block.excercises.each_with_index.map do |excercise, index|
          %tr= render "excercises/fixed_form", excercise: excercise, index: index

        %tr= link_to 'Add Set', block_excercises_new_path(block), method: "post"
  %hr
