/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.app {
  width: auto;
  padding: 25px;
}

.vertical-inline-block {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

div.side-bar {
  width: 17%;
  display: inline-block;
}

div.calendar {
  width: auto;
  display: inline-block;
  position: absolute;
  padding-left: 25px;
}

body {
  color: #3c4043;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.hyperlink-button {
  cursor: pointer;
  color: inherit;
}

.header-cell {
  text-align: center;
  color: #70757a;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 220, 224);
  border-bottom-color: transparent;
}

.cell {
  text-align: center;
  color: #70757a;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 220, 224);
  height: 155px;
  vertical-align: top;
}

div {
  color: #70757a;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}

table.calendar {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.workout-element {
  height: 22px;
  width: 100%;
  z-index: 5;
  background-color: rgb(216,216,216);
  border-color: white;
  border: solid;
  border-width: 0.5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.workout-form {
  padding-left: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
}

.block-wrapper {
  margin: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
